<header class="site-header">
  <div class="header-menu">
    <a class="social-link fa-stack" href="{{ site.baseurl }}">
      <i class="social-icon fa fa-home fa-stack-1x"></i>
    </a><!--
    --><a class="social-link fa-stack" href="{{ site.baseurl }}/about/">
      <i class="social-icon fa fa-info-circle fa-stack-1x"></i>
    </a><!--
    --><a class="social-link fa-stack" href="https://facebook.com/{{ site.facebook_username }}">
      <i class="social-icon fa fa-facebook fa-stack-1x"></i>
    </a><!--
    --><a class="social-link fa-stack" href="https://twitter.com/{{ site.twitter_username }}">
      <i class="social-icon fa fa-twitter fa-stack-1x"></i>
    </a><!--
    --><a class="social-link fa-stack" href="mailto:{{ site.email }}">
      <i class="social-icon fa fa-envelope fa-stack-1x"></i>
    </a>
  </div>
  <div class="wrapper">
    <a class="header-logo-link" href="{{ site.baseurl }}">
      <img class="header-logo" src="{{ site.baseurl }}/assets/branding/logo.png"/>
    </a>
    <img class="header-text" src="{{ site.baseurl }}/assets/branding/header-text.png"/>
  </div>
</header>
