@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Open Sans';
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:         20px;
$small-spacing-unit:   $spacing-unit * 0.5;
$smaller-spacing-unit: $spacing-unit * 0.25;
$large-spacing-unit:   $spacing-unit * 2;
$super-spacing-unit:   $large-spacing-unit * 3;

$text-color:        #000000;
$background-color:  #FFFFFF;
$brand-color-dark:  #167D93;
$brand-color-light: #83B9D0;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "base",
  "layout"
;
