backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
# This line should *not* be indented
publish_mode: editorial_workflow
# This line should *not* be indented
media_folder: "assets/images" # Media files will be stored in the repo under images/uploads
collections:
  - name: "content" # Used in routes, e.g., /admin/collections/blog
    label: "Content" # Used in the UI
    folder: "_posts" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish date", name: "date", widget: "datetime"}
      - {label: "Author(s)", name: "authors", widget: "string"}
      - {label: "Categories", name: "categories", widget: "string"}
      - {label: "Featured image", name: "image", widget: "image"}
      - {label: "Image credit", name: "image-credit", widget: "string"}
      - {label: "Image source (URL)", name: "image-source", widget: "string"}
      - {label: "Body", name: "body", widget: "markdown"}
