---
layout: default
---

<div class="wrapper-inner">
  <h1 class="page-title article-title-mobile">{{ page.title }}</h1>
  <div class="flexbox article-content">
    {% include article-sidebar.html %}
    <div>
      <h1 class="page-title article-title-desktop">{{ page.title }}</h1>
      {% if page.image %}
        <img class="featured-image" src="{{ site.url }}/assets/images/{{ page.image }}"/>
        {% if page.image-credit %}
          <p class="article-meta article-meta-image">
            Image credit: {{ page.image-credit }}
            {% if page.image-source %}
              (<a href="{{ page.image-source }}">source</a>)
            {% endif %}
          </p>
        {% endif %}
      {% endif %}
      {{ content }}
    </div>
  </div>
</div>
